.idea
.DS_Store

### Laravel
/appBase/*/vendor/
/appBase/*/node_modules/
/appBase/*/npm-debug.log
/appBase/*/yarn-error.log
/appBase/*/storage/*.key
/appBase/*/.env
/appBase/*/.phpunit.result.cache
/appBase/.env
/appBase/.envrc
